@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  font-family: "Red Hat Text", sans-serif;
}
.flip-countdown .flip-countdown-piece .flip-countdown-title{
  color: white;
}
.flip-countdown.size-medium .flip-countdown-piece .flip-countdown-card .flip-countdown-card-sec{
  margin: 0;
}
.flip-countdown .flip-countdown-piece .flip-countdown-card .flip-countdown-card-sec .card__top, .flip-countdown .flip-countdown-piece .flip-countdown-card .flip-countdown-card-sec .card__bottom, .flip-countdown .flip-countdown-piece .flip-countdown-card .flip-countdown-card-sec .card__back::before, .flip-countdown .flip-countdown-piece .flip-countdown-card .flip-countdown-card-sec .card__back::after{
  color: #fb6087;
  background: #2c2c45;
}
.socmed svg:hover path{
  cursor: pointer;
  fill: #fb6087;
}